<p>
  <strong>Title</strong>
</p>
<p>
  <%= @contact_form.title %>
</p>

<p>
  <strong>Message</strong>
</p>
<p>
  <%= @contact_form.body %>
</p>

<p>
  <strong>Email</strong>
</p>
<p>
  <%= @contact_form.email %>
</p>

<p>
  <strong>Name</strong>
</p>
<p>
  <%= @contact_form.name %>
</p>
