<p>Hello <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Your new email address is <%= @resource.unconfirmed_email %>. Contact the administrator if you didn't change your email address.</p>
<% else %>
  <p>Your new email address is <%= @resource.email %>. Contact the administrator if you didn't change your email address.</p>
<% end %>
