<p>Hello <%= @resource.email %>!</p>

<p>Someone asked for a link to change the password. You can do this by clicking on the link below.</p>
<p>If this is not you who tried to change your password, just ignore this email.</p>
<p>Your password will not change until you click on the link below.</p>

<p><%= link_to 'Change password', edit_password_url(@resource, reset_password_token: @token) %></p>
