<div class="navbar fixed-bottom">
  <div class="footer">
    <div class="pull-right">
      <strong><%= l(Time.now + 1.hour, format: '%A, %d %B %Y, %H:%M') %></strong>
    </div>
    <div>
      <strong>Poznan University of Technology 2020-<%= Date.today.year %></strong>
    </div>
  </div>
</div>
